.input-container{
  text-align: center;
  
}
body{
  background-color:whitesmoke;
}

.introduction{
  text-align: center;
}

.btn-list{
  margin: auto;
  margin-top: 5px;
  width: 50%;
  padding: 10px;
}

.character-card{
  display:inline-block;
  border: solid;
  margin: 10px;
  padding: 5px;
  color: white;
  background-color: black;
  font-size: 2em;

}

.character-card:hover {
color: red;
}


.kanji-info{
  background-color: black;
  color: white;
  border: solid;
  border-color: red;
  border-width:8px;
  font-size: xx-large;
  text-align: center;
  display: inline-block;
  padding: 5px;
     margin-left: "auto";
     margin-right: "auto";;
}

table, th, td {
  border: 4px solid;
  border-color: white;
  border-spacing: 10px;
}

th, td {
padding: 20px;
}

.kanji-character-text{
  font-weight: bold;
  font-size:2.5em;;
}